## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_database.csv")
city_data_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-01-06 21:13:09,overcast clouds,-20.2333,164.0167,81.79,75,94,5.48
1,1,Carnarvon,AU,2022-01-06 21:11:06,broken clouds,-24.8667,113.6333,78.87,73,67,12.66
2,2,Ushuaia,AR,2022-01-06 21:13:10,scattered clouds,-54.8000,-68.3000,53.26,62,40,29.93
3,3,Bambous Virieux,MU,2022-01-06 21:13:10,broken clouds,-20.3428,57.7575,75.45,94,75,3.44
4,4,Mataura,NZ,2022-01-06 21:13:11,broken clouds,-46.1927,168.8643,53.47,61,66,4.94
...,...,...,...,...,...,...,...,...,...,...,...
695,695,Nechi,CO,2022-01-06 21:16:06,overcast clouds,8.0942,-74.7757,87.75,58,95,4.16
696,696,Orange,US,2022-01-06 21:18:40,clear sky,33.7000,-117.7675,81.86,52,0,1.01
697,697,Harper,LR,2022-01-06 21:18:41,broken clouds,4.3750,-7.7169,80.31,81,76,8.01
698,698,Flinders,AU,2022-01-06 21:18:41,light rain,-34.5833,150.8552,74.21,92,100,1.99
699,699,Mareeba,AU,2022-01-06 21:18:42,scattered clouds,-17.0000,145.4333,79.52,90,43,2.04

In [ ]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

In [ ]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

In [ ]:
# 4a. Determine if there are any empty rows.

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure