## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_database.csv")
city_data_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-01-06 21:13:09,overcast clouds,-20.2333,164.0167,81.79,75,94,5.48
1,1,Carnarvon,AU,2022-01-06 21:11:06,broken clouds,-24.8667,113.6333,78.87,73,67,12.66
2,2,Ushuaia,AR,2022-01-06 21:13:10,scattered clouds,-54.8000,-68.3000,53.26,62,40,29.93
3,3,Bambous Virieux,MU,2022-01-06 21:13:10,broken clouds,-20.3428,57.7575,75.45,94,75,3.44
4,4,Mataura,NZ,2022-01-06 21:13:11,broken clouds,-46.1927,168.8643,53.47,61,66,4.94
...,...,...,...,...,...,...,...,...,...,...,...
695,695,Nechi,CO,2022-01-06 21:16:06,overcast clouds,8.0942,-74.7757,87.75,58,95,4.16
696,696,Orange,US,2022-01-06 21:18:40,clear sky,33.7000,-117.7675,81.86,52,0,1.01
697,697,Harper,LR,2022-01-06 21:18:41,broken clouds,4.3750,-7.7169,80.31,81,76,8.01
698,698,Flinders,AU,2022-01-06 21:18:41,light rain,-34.5833,150.8552,74.21,92,100,1.99
699,699,Mareeba,AU,2022-01-06 21:18:42,scattered clouds,-17.0000,145.4333,79.52,90,43,2.04

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-01-06 21:13:09,overcast clouds,-20.2333,164.0167,81.79,75,94,5.48
1,1,Carnarvon,AU,2022-01-06 21:11:06,broken clouds,-24.8667,113.6333,78.87,73,67,12.66
2,2,Ushuaia,AR,2022-01-06 21:13:10,scattered clouds,-54.8000,-68.3000,53.26,62,40,29.93
3,3,Bambous Virieux,MU,2022-01-06 21:13:10,broken clouds,-20.3428,57.7575,75.45,94,75,3.44
4,4,Mataura,NZ,2022-01-06 21:13:11,broken clouds,-46.1927,168.8643,53.47,61,66,4.94
5,5,Kodiak,US,2022-01-06 21:13:11,light snow,57.7900,-152.4072,33.22,92,100,5.23
6,6,Rikitea,PF,2022-01-06 21:13:12,broken clouds,-23.1203,-134.9692,77.94,72,69,13.80
7,7,Upernavik,GL,2022-01-06 21:12:57,overcast clouds,72.7868,-56.1549,1.65,99,100,6.33
8,8,Namibe,AO,2022-01-06 21:13:13,overcast clouds,-15.1961,12.1522,69.58,81,100,5.48
9,9,Norman Wells,CA,2022-01-06 21:13:13,light snow,65.2820,-126.8329,3.22,92,100,18.70

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Date                   0
Current Description    0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poum,NC,2022-01-06 21:13:09,overcast clouds,-20.2333,164.0167,81.79,75,94,5.48
1,1,Carnarvon,AU,2022-01-06 21:11:06,broken clouds,-24.8667,113.6333,78.87,73,67,12.66
2,2,Ushuaia,AR,2022-01-06 21:13:10,scattered clouds,-54.8000,-68.3000,53.26,62,40,29.93
3,3,Bambous Virieux,MU,2022-01-06 21:13:10,broken clouds,-20.3428,57.7575,75.45,94,75,3.44
4,4,Mataura,NZ,2022-01-06 21:13:11,broken clouds,-46.1927,168.8643,53.47,61,66,4.94
...,...,...,...,...,...,...,...,...,...,...,...
695,695,Nechi,CO,2022-01-06 21:16:06,overcast clouds,8.0942,-74.7757,87.75,58,95,4.16
696,696,Orange,US,2022-01-06 21:18:40,clear sky,33.7000,-117.7675,81.86,52,0,1.01
697,697,Harper,LR,2022-01-06 21:18:41,broken clouds,4.3750,-7.7169,80.31,81,76,8.01
698,698,Flinders,AU,2022-01-06 21:18:41,light rain,-34.5833,150.8552,74.21,92,100,1.99
699,699,Mareeba,AU,2022-01-06 21:18:42,scattered clouds,-17.0000,145.4333,79.52,90,43,2.04

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poum,NC,81.79,overcast clouds,-20.2333,164.0167,
1,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
2,Ushuaia,AR,53.26,scattered clouds,-54.8000,-68.3000,
3,Bambous Virieux,MU,75.45,broken clouds,-20.3428,57.7575,
4,Mataura,NZ,53.47,broken clouds,-46.1927,168.8643,
5,Kodiak,US,33.22,light snow,57.7900,-152.4072,
6,Rikitea,PF,77.94,broken clouds,-23.1203,-134.9692,
7,Upernavik,GL,1.65,overcast clouds,72.7868,-56.1549,
8,Namibe,AO,69.58,overcast clouds,-15.1961,12.1522,
9,Norman Wells,CA,3.22,light snow,65.2820,-126.8329,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
        
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

ConnectionError: HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyAXikMx7qut1hB-IjUhWLyT7Akjm6RDXuo&location=26.326%2C43.975 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff4e0043690>: Failed to establish a new connection: [Errno 60] Operation timed out'))

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poum,NC,81.79,overcast clouds,-20.2333,164.0167,GÃ®te kajeon
1,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
2,Ushuaia,AR,53.26,scattered clouds,-54.8000,-68.3000,Albatross Hotel
3,Bambous Virieux,MU,75.45,broken clouds,-20.3428,57.7575,Casa Tia Villa
4,Mataura,NZ,53.47,broken clouds,-46.1927,168.8643,Ellie's Villa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))