## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Poum,NC,81.79,overcast clouds,-20.2333,164.0167,Gîte kajeon
1,1,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
2,2,Ushuaia,AR,53.26,scattered clouds,-54.8000,-68.3000,Albatross Hotel
3,3,Bambous Virieux,MU,75.45,broken clouds,-20.3428,57.7575,Casa Tia Villa
4,4,Mataura,NZ,53.47,broken clouds,-46.1927,168.8643,Ellie's Villa
...,...,...,...,...,...,...,...,...
564,695,Nechi,CO,87.75,overcast clouds,8.0942,-74.7757,Ivan Villadiego guerra
565,696,Orange,US,81.86,clear sky,33.7000,-117.7675,Meadows
566,697,Harper,LR,80.31,broken clouds,4.3750,-7.7169,Screensaver
567,698,Flinders,AU,74.21,light rain,-34.5833,150.8552,Shellharbour Resort & Conference Centre
568,699,Mareeba,AU,79.52,scattered clouds,-17.0000,145.4333,Trinity Plains Tourist Park

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mecca"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mecca"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Abha"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Salalah"] 
vacation_stop3 =vacation_df.loc[vacation_df["City"] == "Riyadh"]

In [24]:
vacation_start
vacation_start['Lng']
vacation_stop1['Lng']
vacation_stop2['Lng']
vacation_stop3['Lng']

537    46.7219
Name: Lng, dtype: float64

In [25]:
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
start
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
end
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop1

(18.2164, 42.5053)

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,51,Mecca,SA,72.09,broken clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
1,233,Abha,SA,52.05,clear sky,18.2164,42.5053,Abha Hotel
2,349,Salalah,OM,71.69,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,663,Riyadh,SA,48.34,broken clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))